<%- include('./partials/header.ejs') %> 
<div class="jumbotron text-center mt-4 p-5 bg-primary text-white rounded">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-warning btn-sm" href="/users" role="button">View All User</a>
    </p>
  </div>
<%- include('./partials/footer.ejs') %> 